Pandas practice

In [21]:
import numpy as np
import pandas as pd
df= pd.read_csv('titanic.csv')
print(df.dtypes)
print(df.describe())

survived      int64
pclass        int64
name         object
sex          object
age         float64
fare        float64
sibsp         int64
parch         int64
dtype: object
         survived      pclass         age        fare       sibsp       parch
count  714.000000  714.000000  714.000000  714.000000  714.000000  714.000000
mean     0.406162    2.236695   29.699118   34.694514    0.512605    0.431373
std      0.491460    0.838250   14.526497   52.918930    0.929783    0.853289
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   20.125000    8.050000    0.000000    0.000000
50%      0.000000    2.000000   28.000000   15.741700    0.000000    0.000000
75%      1.000000    3.000000   38.000000   33.375000    1.000000    1.000000
max      1.000000    3.000000   80.000000  512.329200    5.000000    6.000000

In [15]:
df_copy = df.copy()
dummies = pd.get_dummies(df_copy['name'])
print(dummies)

     Abbing, Mr. Anthony  Abbott, Mr. Rossmore Edward  \
0                  False                        False
1                  False                        False
2                  False                        False
3                  False                        False
4                  False                        False
..                   ...                          ...
709                False                        False
710                False                        False
711                False                        False
712                False                        False
713                False                        False

     Abbott, Mrs. Stanton (Rosa Hunt)  Abelson, Mr. Samuel  \
0                               False                False
1                               False                False
2                               False                False
3                               False                False
4                               False                False
..                                ...                  ...
709                             False                False
710                             False                False
711                             False                False
712                             False                False
713                             False                False

     Abelson, Mrs. Samuel (Hannah Wizosky)  Adahl, Mr. Mauritz Nils Martin  \
0                                    False                           False
1                                    False                           False
2                                    False                           False
3                                    False                           False
4                                    False                           False
..                                     ...                             ...
709                                  False                           False
710                                  False                           False
711                                  False                           False
712                                  False                           False
713                                  False                           False

     Adams, Mr. John  Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  \
0              False                                           False
1              False                                           False
2              False                                           False
3              False                                           False
4              False                                           False
..               ...                                             ...
709            False                                           False
710            False                                           False
711            False                                           False
712            False                                           False
713            False                                           False

     Aks, Mrs. Sam (Leah Rosen)  Albimona, Mr. Nassef Cassem  ...  \
0                         False                        False  ...
1                         False                        False  ...
2                         False                        False  ...
3                         False                        False  ...
4                         False                        False  ...
..                          ...                          ...  ...
709                       False                        False  ...
710                       False                        False  ...
711                       False                        False  ...
712                       False                        False  ...
713                       False                        False  ...

     Young, Miss. Marie Grice  Youseff, Mr. Gerious  \
0                       False                 False
1                       False                 False
2                       False                 False
3                       False                 False
4                       False                 False
..                        ...                   ...
709                     False                 False
710                     False                 False
711                     False                 False
712                     False                 False
713                     False                 False

     Yrois, Miss. Henriette ("Mrs Harbeck")  Zabour, Miss. Hileni  \
0                                     False                 False
1                                     False                 False
2                                     False                 False
3                                     False                 False
4                                     False                 False
..                                      ...                   ...
709                                   False                 False
710                                   False                 False
711                                   False                 False
712                                   False                 False
713                                   False                 False

     Zimmerman, Mr. Leo  de Messemaeker, Mrs. Guillaume Joseph (Emma)  \
0                 False                                         False
1                 False                                         False
2                 False                                         False
3                 False                                         False
4                 False                                         False
..                  ...                                           ...
709               False                                         False
710               False                                         False
711               False                                         False
712               False                                         False
713               False                                         False

     de Mulder, Mr. Theodore  de Pelsmaeker, Mr. Alfons  \
0                      False                      False
1                      False                      False
2                      False                      False
3                      False                      False
4                      False                      False
..                       ...                        ...
709                    False                      False
710                    False                      False
711                    False                      False
712                    False                      False
713                    False                      False

     del Carlo, Mr. Sebastiano  van Billiard, Mr. Austin Blyler
0                        False                            False
1                        False                            False
2                        False                            False
3                        False                            False
4                        False                            False
..                         ...                              ...
709                      False                            False
710                      False                            False
711                      False                            False
712                      False                            False
713                      False                            False

[714 rows x 714 columns]

In [22]:
age_above_30 = df[df['age'] > 30]
print(age_above_30)

mean_age = df.groupby('sex')['age'].mean()
print(mean_age)

df['adult'] = np.where(df['age']>18, 'Adult', 'Child')
print(df['adult'])

     survived  pclass                                               name  \
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
3           1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0       3                           Allen, Mr. William Henry
5           0       1                            McCarthy, Mr. Timothy J
10          1       1                           Bonnell, Miss. Elizabeth
..        ...     ...                                                ...
698         0       3                        Vander Cruyssen, Mr. Victor
703         1       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
705         0       3                                 Markun, Mr. Johann
709         0       3               Rice, Mrs. William (Margaret Norton)
713         0       3                                Dooley, Mr. Patrick

        sex   age     fare  sibsp  parch
1    female  38.0  71.2833      1      0
3    female  35.0  53.1000      1      0
4      male  35.0   8.0500      0      0
5      male  54.0  51.8625      0      0
10   female  58.0  26.5500      0      0
..      ...   ...      ...    ...    ...
698    male  47.0   9.0000      0      0
703  female  56.0  83.1583      0      1
705    male  33.0   7.8958      0      0
709  female  39.0  29.1250      0      5
713    male  32.0   7.7500      0      0

[305 rows x 8 columns]
sex
female    27.915709
male      30.726645
Name: age, dtype: float64
0      Adult
1      Adult
2      Adult
3      Adult
4      Adult
       ...
709    Adult
710    Adult
711    Adult
712    Adult
713    Adult
Name: adult, Length: 714, dtype: object

In [25]:
pivot_1 = pd.pivot_table(df,values='age',index='pclass',aggfunc='mean')
pivot_1

crosstab_1 = pd.crosstab(df['sex'], df['survived'])
crosstab_1

survived    0    1
sex
female     64  197
male      360   93